body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
}

.landing_page {
  background-color: hsl(257, 40%, 49%);
  background-image: url(img-icons/bg-desktop.svg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: contain;
  padding-bottom: 0;
}

.head_huddle {
  padding-top: 70px;
  width: 250px;
  padding-left: 90px;
}

.muckups {
  width: 800px;
  padding-top: 90px;
  padding-right: 90px;
  padding-left: 90px;
}

/* Conteúdo textual -----------------*/
.content {
  display: flex;
}

.informations {
  margin-top: 120px;
  width: 590px;
}

.info_title {
  display: inline-flex;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  border-top: 80px;
  margin: 0;
}

.info_paragraph {
  display: inline-flex;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 19px;
}

/* Conteúdo do Botão*/
.button {
  display: inline-flex;
  background-color: white;
  font-family: "Poppins", sans-serif;
  color: hsl(257, 40%, 49%);
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0;
  padding: 15px 65px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 2px 20px 0px rgb(51, 51, 51);
  cursor: pointer;
}

/* Símbolo das redes sociais ------------*/
.network_social {
  display: flex;
  margin-left: 1390px;
  gap: 15px;
}

.facebook,
.twitter,
.instagram {
  display: flex;
  padding: 10px;
  width: 20px;
  height: 20px;
  border: 1.5px solid white;
  border-radius: 40px;
  cursor: pointer;
}
